
<h1> <%= "TEST title!!!!"%></h1>
<% states_var = ["New York", "Connecticut", "New Jersey"] %>
<% cities_var = ["New York City", "Stamford", "Jersey City","Hartford", "Trenton","Albany"] %>



<h1 style="font-size: 48px">States</h1>
  <ul>
    <% states_var.each do |state| %>
    <li style="font-size: 36px"><%= state %></li>
    <% end %>
  </ul>


<h1 style="font-size: 48px">Cities </h1>
  <ul>
    <% cities_var.each do |city| %>
    <li style="font-size: 36px"><%= city %></li>
    <% end %>
  </ul>
